:root {
    --ilw-back-to-top--bottom: 40px;
    --ilw-back-to-top--right: 40px;
    --ilw-back-to-top--color: var(--ilw-color--background);
    --ilw-back-to-top--background: var(--ilw-color--heading);
    --ilw-back-to-top--focus-background-color: var(--ilw-color--focus--background);
    --ilw-back-to-top--focus-color: var(--ilw-color--focus--text);
    --ilw-back-to-top--focus-outline: solid var(--ilw-color--focus--text) 1px;
}